
@import url(reset.css);

#top { position: relative;}
#top > h1{ margin: 20px 0; overflow: hidden; text-align: center; display: block;}

.top_left .img1 {
    background-image: url(img/social.png);
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    display: inline-block;
}
.top_left .img2 {
    background-image: url(img/social.png);
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    background-position: -32px;
    display: inline-block;
}
.top_left .img3 {
    background-image: url(img/social.png);
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    background-position: -64px;
    display: inline-block;
}
.top_left .img4 {
    background-image: url(img/social.png);
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    background-position: -96px;
    display: inline-block;
}
#top .top_left {float: left;}
#top .top_left {position: absolute; left: 10px; top: 10px;}

#top .top_right {position: absolute; right: 10px; top: 10px; display: block;}
.top_right >li {float: left;}
.top_right >li> a {text-decoration: none; margin-left: 20px;}

.top_list {display: block; overflow: hidden; text-align: center;}
.top_list > li {display: inline-block;}
.top_list > li > a {text-decoration: none; float: left; padding: 20px 30px;}

#top {position: fixed; left: 0; top: 0; width: 100%; background-color: white;}
.main {border-top: 3px solid red; background-image: url(img/main.jpg); height: 500px; display: block; background-position: center; background-repeat: no-repeat; background-size: cover; margin-top: 160px;}

.main > div {text-align: center; color: white; line-height: 80px;}
.main .main1 {padding-top: 100px; font-size: 50px; letter-spacing: 15px; }
.main .main2 {font-size: 30px;}

.main_list {overflow: hidden; margin: 0 auto; text-align: center; margin-bottom: 300px; display: block;}
.main_list > h2 {text-align: center; border-bottom: 3px dashed gray; font-size: 14px; padding: 10px 0; display: block;}
.main_list > .list {display: inline-block; text-align: center; padding: 40px;}
.main_list > .list > p {font-weight: bold; color: gray;}

.foot {border-top: 2px solid gray; padding: 0 20px; height: 40px;}
.foot > h2 {float: left; font-size: 14px; line-height: 40px;}
.foot > p {float:right; font-size: 14px; line-height: 40px;}